In [42]:
import pandas as pd
import numpy as np
import plotly.express as px
import os

### Creating Export Side Dataframe

In [43]:
# get the current working directory
base_path = os.getcwd() + '//Data//'

# Loading data and grouping to exclude coffee_type
domestic_consumption = pd.read_csv(base_path + 'Coffee_domestic_consumption.csv').drop(columns = ['Total_domestic_consumption'])
coffee_production = pd.read_csv(base_path + 'Coffee_production.csv').drop(columns = ['Total_production'])
coffee_export = pd.read_csv(base_path + 'Coffee_export.csv').drop(columns = ['Total_export'])

# Pivoting dataframes long and grouping to exclude coffee type since this isnt captured in export dataset
domestic_consumption = pd.melt(domestic_consumption, id_vars=['Country', 'Coffee type']).rename(columns = {'variable': 'Year',
                                                                                                           'value': 'Domestic Consumption'}).groupby(['Country', 'Year']).sum().reset_index()
coffee_production = pd.melt(coffee_production, id_vars=['Country', 'Coffee type']).rename(columns = {'variable': 'Year',
                                                                                                           'value': 'Total Production'}).groupby(['Country', 'Year']).sum().reset_index()
coffee_export = pd.melt(coffee_export, id_vars=['Country']).rename(columns = {'variable': 'Year','value': 'Total Export'}).groupby(['Country', 'Year']).sum().reset_index()

# Merging
export_df = domestic_consumption.merge(coffee_production, left_on=['Country',  'Year'], 
                                    right_on=['Country',  'Year'])
export_df['Year'] = export_df['Year'].str[:4]
export_df = export_df.merge(coffee_export, left_on=['Country',  'Year'], 
                                    right_on=['Country', 'Year'])
export_df.head(10)

,Country,Year,Coffee type_x,Domestic Consumption,Coffee type_y,Total Production,Total Export
0,Angola,1990,Robusta/Arabica,1200000,Robusta/Arabica,3000000.0,5040000
1,Angola,1991,Robusta/Arabica,1800000,Robusta/Arabica,4740000.0,4260000
2,Angola,1992,Robusta/Arabica,2100000,Robusta/Arabica,4680000.0,4800000
3,Angola,1993,Robusta/Arabica,1200000,Robusta/Arabica,1980000.0,2340000
4,Angola,1994,Robusta/Arabica,1500000,Robusta/Arabica,4620000.0,480000
5,Angola,1995,Robusta/Arabica,600000,Robusta/Arabica,3720000.0,2460000
6,Angola,1996,Robusta/Arabica,1200000,Robusta/Arabica,4260000.0,3120000
7,Angola,1997,Robusta/Arabica,2400000,Robusta/Arabica,3840000.0,3000000
8,Angola,1998,Robusta/Arabica,1800000,Robusta/Arabica,5100000.0,3240000
9,Angola,1999,Robusta/Arabica,1200000,Robusta/Arabica,3300000.0,3000000

### Creating Import Side Dataframe

In [44]:
# Loading data and grouping to exclude coffee_type
coffee_import = pd.read_csv(base_path + 'Coffee_import.csv').drop(columns = ['Total_import'])
coffee_importers_consumption = pd.read_csv(base_path + 'Coffee_importers_consumption.csv').drop(columns = ['Total_import_consumption'])
coffee_reexport = pd.read_csv(base_path + 'Coffee_re_export.csv').drop(columns = ['Total_re_export'])

# Pivoting dataframes long and 
coffee_import = pd.melt(coffee_import, id_vars=['Country']).rename(columns = {'variable': 'Year',
                                                                                'value': 'import'}).groupby(['Country', 'Year']).sum().reset_index()
coffee_importers_consumption = pd.melt(coffee_importers_consumption, id_vars=['Country']).rename(columns = {'variable': 'Year',
                                                                                'value': 'import consumption'}).groupby(['Country', 'Year']).sum().reset_index()
coffee_reexport = pd.melt(coffee_reexport, id_vars=['Country']).rename(columns = {'variable': 'Year',
                                                                                  'value': 're-export'}).groupby(['Country', 'Year']).sum().reset_index()

# Merging
import_df = coffee_import.merge(coffee_importers_consumption, left_on=['Country',  'Year'], 
                                    right_on=['Country',  'Year'])
import_df['Year'] = import_df['Year'].str[:4]
import_df = import_df.merge(coffee_reexport, left_on=['Country',  'Year'], 
                                    right_on=['Country', 'Year'])
import_df.head(10)

      Country  Year     import  import consumption  re-export
0     Austria  1990  112800000            80400000   24900000
1     Austria  1991  123480000            78120000   45360000
2     Austria  1992  132360000            72720000   57600000
3     Austria  1993  110160000            80100000   32100000
4     Austria  1994   85020000            65160000   22860000
5     Austria  1995   73860000            60720000   13740000
6     Austria  1996   72600000            64560000    9780000
7     Austria  1997   77640000            65220000   13320000
8     Austria  1998   77580000            66300000   12600000
9     Austria  1999   90000000            67380000   23880000